div{
    width:100%;
    height: 300px;
}
.aaa{ 
    background-color: gray;
}
.img {
    background-image:url("img/a.jpg")
    

 }
.yellow{
    position: absolute;
    background-image:url("img/b.jpg");
    left: 0px;
    top: 600px;
}
.orange{
    opacity: 0.3;
    background-color:red;
}
p{
    color:white;
    font-size:40px;
}
.yellow, .orange{ 
position: absolute;
    left:0px;
    top:600px;
}